@charset "UTF-8";
@import url("https://use.typekit.net/dsl7syq.css");
@font-face {
    font-family:'android';
    src: url(../fontes/idroid.otf) format(opentype);
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;

    --fontepadrao: Arial, Helvetica, sans-serif;
    --fontedestaque: "bebas-neue", sans-serif;
    --fonteandroid: 'android', cursive;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1.5em;   
}

body{ 
    font-family: var(--fontepadrao);
    background-color: var(--cor0);
}
a.externo::after{
    content:'🔗\00A0';
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor4);
    text-align: center;
    min-height: 150px;  
    padding-top: 40px;
}
header>h1{
    color: white;
    font-family: var(--fontedestaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}

header>p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
}
nav>p>a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}
nav>p>a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}
main{
    max-width: 800px;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
article h1{
    font-family: var(--fonteandroid);
    color: var(--cor5);
    font-size: 1.8em;
}
article h2{
    font-family: var(--fonteandroid);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
article p{
    text-align: justify;
    margin: 15px 0;
    text-indent: 30px;
    font-size: 1.1em;
}

article strong{
    color: var(--cor4);
    font-weight: bold;
}

article a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

article a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

.imagem{
    width: 100%;
    display: flex;
}

.img{
    max-width: 350px;
    margin: auto;
    display: flex;
}

.video{
    background-color: var(--cor5);
    display: flex;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0; 
}

aside>ul{
    list-style-type: '✔\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}